.main-buttons {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
button {
  height: 300px;
  width: 300px;
  background-color: #d8fbc2;
  border: 1px solid black;
  cursor: pointer;
  font-size: 40px;
  font-family: "Reenie Beanie", sans-serif;
}

button:hover {
  transform: scale(1.02);
  filter: brightness(1.05);
}
