.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  justify-content: space-evenly;
}
.profile-title {
  font-size: 50px;
  margin-top: 20px;
}

.skin-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
}

.quiz-btn,
.return-home-btn {
  position: absolute;
  left: 75%;
  top: 12%;
  height: 200px;
}

.return-home-btn {
  top: 40%;
}

p {
  padding: 2px;
  margin: 10px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .details {
    height: auto;
  }
  .quiz-btn,
  .return-home-btn {
    position: relative;
    left: auto;
    top: auto;
  }
  .shelf {
    margin: 10px;
  }
}
