.shelf {
  display: grid;
  background-color: #d8fbc2;
  height: 20%;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.images,
.product-names {
  display: flex;
}

img {
  width: 70px;
  height: 70px;
  background-color: #d8fbc2;
  padding: 40px;
}

p {
  padding: 40px;
}
