.nav-bar {
  display: flex;
  background-color: #d8fbc2;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  height: auto;
  font-size: 25px;
  width: 100%;
}
.logo-title {
  margin: 0;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .nav-bar {
    flex-direction: column;
  }
}
