.quiz-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz-title {
  font-size: 35px;
}
.question-button {
  margin: 5px;
}

.blurb {
  font-size: 30px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .question-button {
    height: auto;
    min-height: 175px;
    font-size: 20px;
  }
}
