.App {
  text-align: center;
}
body {
  background-color: #e9caf3;
}
.main-buttons {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
button {
  height: 50%;
  width: 30%;
  background-color: #d8fbc2;
  border: 1px solid black;
  cursor: pointer;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
